[features]
seeds = false
skip-lint = false

[programs.localnet]
arcium_pixels = "V7z3BRz2T8XX6gCQf5nYibHRm3KhDN38Z9HPp5tiFdc"

[programs.devnet]
arcium_pixels = "V7z3BRz2T8XX6gCQf5nYibHRm3KhDN38Z9HPp5tiFdc"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "anchor test"

